tensorflow-cpu==2.6.0
h5py
absl-py
altair
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
audioread
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
commonmark
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
libclang
librosa
llvmlite
Markdown
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numpy==1.19.2
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip-chill
pooch
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
requests-oauthlib
resampy
rich
rsa
scikit-learn
scipy
semver
Send2Trash
six
smmap
SoundFile==0.10.3.post1
soupsieve
stack-data
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp